.infoManagement{
  display: flex;
  flex-flow: column;
  row-gap: 10px;
}
.infoManagement form{
  display: flex;
  flex-flow: row;
  column-gap: 16px;
}
.infoList{
  background-color: darkgray;
  color:#000;
  width: 100%;
  margin: 25px auto;
}
.infoList > ul{
  list-style-type: none;
}
.infoList > ul > li {
  padding: 10px;
  cursor: pointer;
  display: flex;
  flex-flow: row;
  column-gap: 16px;
}
.infoList .selected {
  background-color: cornflowerblue;
}